/* CSS Reset */
* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}


/* Generics */
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Utils */

.bg-color-white {
    background-color: white;
}

.bg-color-lightgrey {
    background-color: rgb(248, 249, 250);
}

.bg-color-dark {
    background-color: rgb(24, 40, 61);
}

.bg-color-blue {
    background-color: rgb(15, 82, 252);
}

.text-bg-blue {
    color: white;
    background-color: rgb(44, 90, 180);
    font-size: 1rem;
    font-weight: 500;
}

.my-rounded-pill {
    border-radius: 50%;
}

.container-table {
    padding: 0 1.5rem;
}

/* Header */
header {
    height: 60px;
}

header .container-fluid {
    flex-wrap: nowrap;
}

/* Header Left */
.nav-left {
    flex-shrink: 0;
}

.mobile-logo {
    width: 40px;
    height: auto;
}

.desktop-logo {
    width: 120px;
    height: auto;
}

/* Header Center */
.nav-center {
    flex-grow: 1;
}

form {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 11px;
    left: 10px;
}

.form-control {
    padding-left: 2rem;
}

/* Header Right */
.nav-right {
    flex-shrink: 0;
}


/*todo Main */
main {
    height: calc(100vh - 60px);
}

main .fa-solid {
    color: white;
}

/*todo Sidebar */
.sidebar {
    flex-basis: 70px;
    flex-shrink: 0;
    background-image: url(../html-css-bootstrap-dashboard/bootstrap_dashboard/img/sidebar-bg.png);
}

.sidebar a {
    color: white;
    font-weight: 500;
    padding: 0 0.2rem;
}

/*todo Sidebar-Top */
.sidebar-top {
    flex-grow: 1;
}

.sidebar .fa-solid {
    font-size: 1.5rem;
}

.sidebar-top ul li {
    padding: 10px 0;
}

/*todo Sidebar-Bottom */
.sidebar-bottom ul li {
    height: 50px;
}

/*todo Content */
.content {
    flex-grow: 1;
    overflow: auto;
}

.content-nav ul li:not(:last-of-type) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
}

.fa-square-plus {
    font-size: 2.5rem;
    color: white;
}

.fa-plus {
    width: 10px;
    height: 10px;
}

/*todo Offcanvas */
.offcanvas.offcanvas-end {
    width: 100%;
}

.offcanvas label {
    font-size: 0.9rem;
    font-weight: 600;
}

/*todo Table */
.tag-image {
    width: 30px;
    filter: contrast(1.5);
}

.fa-solid.fa-pen,
.fa-solid.fa-trash {
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px
}

table a {
    color: black;
}

th a {
    vertical-align: middle;
    margin-left: 0.5rem;
}


/*todo Faq */
.accordion-body p {
    font-weight: 500;
}