/* Generics */
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Utils */

.bg-color-white {
    background-color: white;
}

.bg-color-lightgrey {
    background-color: rgb(229, 229, 229);
}

.bg-color-dark {
    background-color: rgb(24, 40, 61);
}

.bg-color-blue {
    background-color: rgb(56, 112, 224);
}


/* Header */
header {
    height: 60px;
}

header .container-fluid {
    flex-wrap: nowrap;
}

/* Header Left */
.nav-left {
    flex-shrink: 0;
}

.mobile-logo {
    width: 50px;
    height: auto;
}

/* Header Center */
.nav-center {
    flex-grow: 1;
}

form {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 11px;
    left: 10px;
}

.form-control {
    padding-left: 2rem;
}

/* Header Right */
.nav-right {
    flex-shrink: 0;
}


/*todo Main */
main {
    height: calc(100vh - 60px);
}

main .fa-solid {
    color: white;
}

/*todo Sidebar */
.sidebar {
    flex-basis: 75px;
}

/*todo Sidebar-Top */
.sidebar-top {
    flex-grow: 1;
}

.sidebar-top ul li {
    padding: 5px 0;
}

/*todo Sidebar-Bottom */
.sidebar-bottom {
    height: 60px;
}

/*todo Content */
.content-nav {
    flex-grow: 1;
    height: 100px;
}